html {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

/* Site Container */

.site-container {
  width: 960px;
  margin: 0 auto;
}

/* Logo & Name at Top */

.logo {
  background-color: black;
}

.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logo span {
  text-transform: uppercase;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

/* Main Banner */

.main-banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  text-transform: uppercase;
  height: 25rem;
  width: 100%;
}

.banner-container {
  width: 960px;
  margin: 0 auto;
  padding-top: 9rem;
}

.main-banner-text {
  width: 20rem;
  background-color: black;
}

#new-arrival {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 2rem;
  padding-bottom: 0.25rem;
  padding-left: 3rem;
}

#title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 3rem;
}

/* Navigation Bar */

.nav-bar {
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
}

/* Products */

.product-grid {
  display: flex;
  margin-top: 3rem;
  width: 960px;
  margin: 0 auto;
}

.product-container {
  border: 4px solid black;
  width: 30%;
  display: flex;
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#product1 img {
  width: 9rem;
}

#product2 img {
  width: 9rem;
}

#product3 img {
  width: 9rem;
}


#product1 p, #product2 p, #product3 p {
  background-color: black;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Location & Hours */
.location-hours {
  margin-top: 3rem;
  width: 960px;
  display: flex;
  margin: 0 auto;
}

#location, #hours {
  padding-left: 2rem;
  width: 35%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  display: inline-flex;
  margin-bottom: 4rem;
}

/* Footer */

footer {
  height: 5rem;
  background-color: black;
}
